moc_*.cpp
ui_*.h
.git
.hg/*.*
database/*.*
jackStock.db
jackStock_last.db
*.d
*.db
*.mp4
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
database
Help
test
.hg
bigobjects.txt
bigtosmall.txt
img_test.png
res_files.txt
res_list.txt
res_push.txt
.gitignoreBk1
.hgignore
.hgtags
C:\\nppdf32Log\\debuglog.txt
JackStock
JackStock.pro.user.2.6pre1
JackStock.pro.user.3.2-pre1
JackStock.pro.user.6fa7c16
Makefile
Screenshot.png
YahooKeyStat1.txt
YahooKeyStat1_abb.txt
YahooKeyStat1_kl\303\266vern.txt
callgrind.out.5514
debugCompDescrip.txt
debugSell.txt
ecoRes.txt
img_test.PNG
img_test1.png
myAnalysisTemplate.html
stockanalysistab_old.ui
test.html
test.svg
abb.txt
cookie.txt
curlAbb.txt
src/Application/Tabs/3_TechnicalAnalysis/taAnalysis.cpp.autosave
src/LibCurl/myLibCurl.cpp.autosave
testData.txt
tmpCrumbWebpage.html

